

@font-face {
    font-family: 'musicnetregular';
    src: url('/font/musicnet-webfont.woff2') format('woff2'),
         url('/font/musicnet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'musicnetregular';
    /* font-size: 80px; */
    font-size: 3vw;
    color: red;
    background: black;

    width: 100%; 
    height: 100%;
}

.controls {
    display: none;
    padding: 5px;
    background-color: #666;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
}

@keyframes slide {
    from { left: 100%;}
    to { left: -300%;}
}
@-webkit-keyframes slide {
    from { left: 100%;}
    to { left: -300%;}
}

.info {
    display: none;
    color: white;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

    height:40px;
    line-height:40px;
    overflow:hidden;
}

.infotxt {
    position:absolute;
    animation-name: slide;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 40s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count: infinite;
}

.content {
    display: none;
    color: red;
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
    bottom: 50px;
    text-align: center;
    vertical-align: center;
    
    /* padding: 20px; */

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#textzone{
    /* position: relative;  */
    /* top: 33%; */
    margin: 20px;
}


.namescreen, .connecting {
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 200px;
    margin-top: -150px; 
    margin-left: -550px;

    font-size: 48px;
    padding: 50px;
    z-index: 1;
    background: #111;
    border: 1px solid #666;
    text-align: center;
  }

.connecting {
    z-index: 2;
}

#remoteVideo, #red5pro-subscriber {
	height: 80%;
}



@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

 .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }